<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h2 style="text-align:center;">press the button</h2>
	<h3 id="val" style="text-align:center;">value goes here</h2>
	<h4 id="meta" style="text-align:center;">meta goes here</h4>
	<button onclick="getCache()">Get</button>
	<script src="/js/mytestscript.js"></script>
</body>
</html>
